
section, nav {
    display: inline-block;
    vertical-align: middle;
}

header {
    margin-top: 37px;
    margin-left: 120px;
    margin-right: 68px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #0A1B32;
}

.logo-dot {
    color: #A3DC00;
}

nav {
    margin-left: 58px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    text-decoration: none;
    margin-right: 38px;
}

.header-btns {
    float: right;
}

.sign-in-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;

    background: none;
    border: none;
    margin-right: 40px;
}

.sign-up-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    width: 120px;
    height: 60px;
    background: #824FF1;
    border: none;
    border-radius: 6px;
}



main {
    margin-left: 200px;
    margin-top: 203px;
}

h1 {
    font-family: 'Ramaraja';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;

    max-width: 495px;
    width: 100%;
}

.main-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;

    max-width: 590px;
    width: 100%;
    margin-top: 10px;
}

.main-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    width: 152px;
    height: 64px;
    background: #824FF1;
    border: none;
    border-radius: 6px;
    margin-top: 50px;
}

img {
    max-width: 821px;
    width: 100%;
    margin-left: 90px;
    margin-bottom: 82px;
}